{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- $image := resources.Get "/sklog-logo.png" -}}
    {{- if $image -}}
        {{- $processed := $image.Resize "1024x webp" -}}
        <img src="{{ $processed.RelPermalink }}" width="{{ $processed.Width }}" height="{{ $processed.Height }}" alt="A cartoon image of me poking out of a log." style="max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; margin-bottom: 2rem;"/>
    {{- end -}}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
