{{- $url := .Get "url" -}}
{{- $title := .Get "title" | default "Github" -}}
{{- if $url -}}
<a href="{{ trim $url " " | safeURL }}" target="_blank" rel="noopener noreferrer" title="{{ $title }}" class="github-icon inline-icon" aria-label="{{ $title }}">
  {{ partial "svg.html" (dict "name" "Github" "title" $title) }}
</a>
{{- else -}}
<span class="github-icon inline-icon" title="{{ $title }}" aria-label="{{ $title }}">
  {{ partial "svg.html" (dict "name" "Github" "title" $title) }}
</span>
{{- end -}}
